submit.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="questionnaire">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Options">
            <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Continents">
                <xsd:complexType>
                    <xsd:sequence>
                    <xsd:element name="Continent">
                        <xsd:complexType>
                        <xsd:sequence>///sequence いらない？？？
                            <xsd:element ref="Country">
                        </xsd:sequence>
                        <xs:attribute name="NorthAmerica" type="xs:ID" use="required" deafult="NA00"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Continent">
                        <xsd:complexType>
                        <xsd:sequence>///sequence いらない？？？
                            <xsd:element ref="Country">
                        </xsd:sequence>
                        <xs:attribute name="South_America" type="xs:ID" use="required" deafult="NA00"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Continent">
                        <xsd:complexType>
                        <xsd:sequence>///sequence いらない？？？
                            <xsd:element ref="Country">
                        </xsd:sequence>
                        <xs:attribute name="Europe" type="xs:ID" use="required" deafult="NA00"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Continent">
                        <xsd:complexType>
                        <xsd:sequence>///sequence いらない？？？
                            <xsd:element ref="Country">
                        </xsd:sequence>
                        <xs:attribute name="Asia" type="xs:ID" use="required" deafult="NA00"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Continent">
                        <xsd:complexType>
                        <xsd:sequence>///sequence いらない？？？
                            <xsd:element ref="Country">
                        </xsd:sequence>
                        <xs:attribute name="Africa" type="xs:ID" use="required" deafult="NA00"/>
                        </xsd:complexType>
                    </xsd:element>
                    <xsd:element name="Continent">
                        <xsd:complexType>
                        <xsd:sequence>///sequence いらない？？？
                            <xsd:element ref="Country">
                        </xsd:sequence>
                        <xs:attribute Australia="NorthAmerica" type="xs:ID" use="required" deafult="NA00"/>
                        </xsd:complexType>
                    </xsd:element>
                    </xsd:sequence>
                </xsd:complexType>    
                </xsd:element>
            </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="Form">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FirstName" type="xsd:string">
              <xsd:element name="MiddleName" type="xsd:string">
              <xsd:element name="LastName" type="xsd:string">
              <xsd:element name="Age" type="ageType">
              <!-- restriction -->
                <xs:simpleType name="ageType">
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="120"/>
                  </xs:restriction>
                </xs:simpleType>
              <!-- fin -->
              <xsd:element name="DateOfBirth" type="xsd:data">
              <xsd:element name="Gender" type="gender">
              <!-- restriction -->
              <xs:simpleType name="gender">
                <xs:restriction base="xs:token">
                  <xs:enumeration value="female"/>
                  <xs:enumeration value="male"/>
                  <xs:enumeration value="neuter"/>
                </xs:restriction>
              </xs:simpleType>
              <!-- fin -->
              <xsd:element name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Address1" type="xsd:string">
                    <xsd:element name="Address2" type="xsd:string">
                    <xsd:element name="City" type="xsd:string">
                    <xsd:element name="ZipCode" type="xsd:int">
                    <xsd:element name="Country" type="xsd:string">
                  <xsd:sequence>
                </xsd:complexType>
              <xsd:element ref="Telepone" type="TeleponeType">
              <xsd:element name="Occupatin" type="xsd:string">
              <xsd:element name="FavFood">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="The_food_name" type="xsd:string">
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <xsd:element name="question" > <!-- deafult -->
              <xsd:element name="answer">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="The_continent_name" type="Continent_options">
                      <!-- restriction -->
                      <xsd:simpleType name="Continent_options">
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="North America">
                          <xsd:enumeration value="South America">
                          <xsd:enumeration value="Europe">
                          <xsd:enumeration value="Asia">
                          <xsd:enumeration value="Africa">
                          <xsd:enumeration value="Australia">
                        </xsd:restriction>
                      </xsd:simpleType>
                      <!-- fin -->
                    <xsd:element name="The_country_name" type="Country_options">
                      <!-- restriction -->
                      <xsd:simpleType name="Country_options">
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="United States">
                          <xsd:enumeration value="Peru">
                          <xsd:enumeration value="Italy">
                          <xsd:enumeration value="Japan">
                          <xsd:enumeration value="Morocco">
                          <xsd:enumeration value="Australia">
                        </xsd:restriction>
                      </xsd:simpleType>
                      <!-- fin -->
                  </xsd:sequence>
                </xsd:complexType>
              </xsd:element>
              <!-- restriction -->
              <xsd:simpleType name="TeleponeType">
                <xsd:restriction base="xsd:string" base="xsd:string">
                  <xsd:pattern value="\d{3}-\d{3}-\d{3}-\d{3}">
                </xsd:restriction>
              </xsd:simpleType>
              <!-- fin -->
            </xsd:sequence>
            <xsd:attribute name="id" use="required" type="xsd:ID">
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</schema>