xmlschemaOriginal.xml

<?xml version="1.0"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:element name="questionnaire">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Continents">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Continent" minOccurs="6" type="options">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element ref="Country">
                      <xsd:complexType>
                        <xsd:attribute name="country_name">
                      </xsd:complexType>
                  </xsd:sequence>
                  <xsd:attribute name="United States">
                  <xsd:attribute name="South America">
                  <xsd:attribute name="Europe">
                  <xsd:attribute name="Asia">・・・・・・・・・・一つは絶対使う
                  <xsd:attribute name="Africa">
                  <xsd:attribute name="Australia">
                </xsd:complexType>
              </xsd:element>
              <!-- ref of Country -->
              <xsd:element name="Country">
                <xsd:complexType>
                  <xsd:sequence>
                    <FamousFood>
                      <xsd:element name="Food_name" type="xsd:string">
                      <xsd:element name="Average_price" type="xsd:string">
                      <xsd:element name="Ingredient" type="xsd:string" maxOccurs="unbounded">
                    </FamousFood>
                  </xsd:sequence>
                  <!-- 国 -->・・・・・・・・・・・・・・・
                  <xsd:attribute name="United States">
                  <xsd:attribute name="South America">
                  <xsd:attribute name="Europe">
                  <xsd:attribute name="Asia">
                  <xsd:attribute name="Africa">
                  <xsd:attribute name="Australia">
                </xsd:complexType>
              </xsd:element>
              <!-- ref of Country -->
            </xsd:sequence>
            <xsd:attribute name="continent_name" type="xsd:string"> //use,//2
          </xsd:complexType>
        </xsd:element>



        <xsd:element name="Form">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="FirstName" type="xsd:string">
              <xsd:element name="MiddleName" type="xsd:string">
              <xsd:element name="LastName" type="xsd:string">
              <xsd:element name="Age" type="ageType">
              <!-- restriction -->
                <xs:simpleType name="ageType">
                  <xs:restriction base="xs:int">
                    <xs:minInclusive value="0"/>
                    <xs:maxInclusive value="120"/>
                  </xs:restriction>
                </xs:simpleType>
              <!-- fin -->
              <xsd:element name="DateOfBirth">
              <xsd:element name="Gender">
              <xsd:element name="Address">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="Address1" type="xsd:string">
                    <xsd:element name="Address2" type="xsd:string">
                    <xsd:element name="City" type="xsd:string">
                    <xsd:element name="ZipCode" type="">
                    <xsd:element name="Country" type="xsd:string">
                  <xsd:sequence>
                </xsd:complexType>
              <xsd:element ref="Telepone" type="TeleponeType">
              <xsd:element name="Occupatin">
              <xsd:element name="FavFood">
                <xsd:complexType>
                  <xsd:sequence>
                    <xsd:element name="The_food_name">
                    <xsd:element name="The_continent_name" type="Continent_options">
                      <!-- restriction -->
                      <xsd:simpleType name="Continent_options">
                        <xsd:restriction base="xsd:string">
                          <xsd:enumeration value="North America">
                          <xsd:enumeration value="South America">
                          <xsd:enumeration value="Europe">
                          <xsd:enumeration value="Asia">
                          <xsd:enumeration value="Africa">
                          <xsd:enumeration value="Australia">
                        </xsd:restriction>
                      </xsd:simpleType>
                      <!-- fin -->
                    <xsd:element name="The_continent_name">
                  </xsd:sequence>
                </xsd:complexType>
              <!-- restriction -->
              <xsd:simpleType name="TeleponeType">
                <xsd:restriction base="xsd:string" base="xsd:string">
                  <xsd:pattern value="\d{3}-\d{3}-\d{3}-\d{3}">
                </xsd:restriction>
              </xsd:simpleType>
              <!-- fin -->
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</schema>